In [1]:
import pandas as pd

In [3]:
pkmn = pd.read_csv('~/DevSpace/Data-Snippets/MachineLearning/datasets/pkmn.csv')
pkmn

     HP  Attack  Defense  Generation        Name     Type  Legendary
0    45      49       49           1   Bulbasaur    Grass      False
1    60      62       63           1     Ivysaur    Grass      False
2    80      82       83           1    Venusaur    Grass      False
3    39      52       43           1  Charmander     Fire      False
4    58      64       58           1  Charmeleon     Fire      False
..   ..     ...      ...         ...         ...      ...        ...
142  60     110       65           1     Snorlax   Normal      False
143  41      64       45           1     Dratini   Dragon      False
144  61      84       65           1   Dragonair   Dragon      False
145  91     134       95           1   Dragonite   Dragon      False
146   0     100      100           1         Mew  Psychic      False

[147 rows x 7 columns]